/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(../font/opensans/OpenSans-Light.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../font/opensans/OpenSans-Regular.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(../font/opensans/OpenSans-Semibold.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../font/opensans/OpenSans-Bold.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(../font/opensans/OpenSans-ExtraBold.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url(../font/opensans/OpenSans-LightItalic.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(../font/opensans/OpenSans-Italic.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url(../font/opensans/OpenSans-SemiboldItalic.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(../font/opensans/OpenSans-BoldItalic.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: local('Open Sans Extrabold Italic'), local('OpenSans-ExtraboldItalic'), url(../font/opensans/OpenSans-ExtraBoldItalic.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

$font-family: 'Open Sans';
$page-bg-color: #fff;
$form-bg-color: #fff;
$sheet-bg-color: #f2f2f2;
$sheet-bg-gradient: flat;

@import 'sencha-touch/default';
@import 'sencha-touch/default/all';


/* Variabili Infocar */
$infocar-button-color: #ffffff;
$infocar-button-bg-color: #333344;
$infocar-button-border-color: $infocar-button-bg-color;
$infocar-button-border-radius: 0.4em;
$infocar-button-font-size: 18px;
$infocar-button-height: 60px;
$infocar-button-width: 176px;

$infocar-menu-left-bg-color: #f2f2f2;
$infocar-menu-left-color: #292b37;
$infocar-menu-left-highlight-color: #999;

/* Bottoni */
@mixin infocar-button($param-color, $param-bg-color, $param-font-size) {
    -webkit-background-clip: padding-box;
    -webkit-box-align: center;
    -webkit-tap-highlight-color: #000;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    align-items: center;
    background-clip: padding-box;
    background-color: $param-bg-color;
    background-image: none;
    border: 1px solid $param-bg-color;
    border-bottom-left-radius: $infocar-button-border-radius;
    border-bottom-right-radius: $infocar-button-border-radius;
    border-top-left-radius: $infocar-button-border-radius;
    border-top-right-radius: $infocar-button-border-radius;
    color: $param-color;
    font-size: $param-font-size;
}

@mixin infocar-align($param-align) {
    -webkit-box-align: $param-align !important;
    -ms-flex-align: $param-align !important;
    align-items: $param-align !important;
    text-align: $param-align !important;
}

/*
.infocar-button {
    -webkit-background-clip: padding-box;
    -webkit-box-align: center;
    -webkit-tap-highlight-color: #000;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    align-items: center;
    background-clip: padding-box;
    background-color: $bg-color;
    background-image: none;
    border: 1px solid $infocar-button-border-color;
    border-bottom-left-radius: $infocar-button-border-radius;
    border-bottom-right-radius: $infocar-button-border-radius;
    border-top-left-radius: $infocar-button-border-radius;
    border-top-right-radius: $infocar-button-border-radius;
    color: $infocar-button-color;
    font-size: $infocar-button-font-size;
}
*/


/* Menu generale di sinistra */
/* .infocar-menu-left, .infocar-menu-left .x-body, .infocar-menu-left .x-docked-top { */
.titoloMenuLeftContainerCls {
    background-color: $infocar-menu-left-bg-color !important;
    background-image: none !important;
    border: 0 !important;
    padding: 10% 0 10% 0 !important;
}

.titoloMenuLeftLabelCls {
    text-align: center;
    background-color: $infocar-menu-left-bg-color !important;
    background-image: none !important;
    border: 0;
}

.MenuLeftButtonCls {
    -webkit-background-clip: padding-box;
/*
    -webkit-box-align: left !important;
    -ms-flex-align:left !important;
    align-items: left !important;
    text-align: left !important;
*/
    @include infocar-align(left);

    -webkit-tap-highlight-color: $infocar-menu-left-highlight-color;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    height: 10% !important;
    margin: 0 !important;
    padding: 0 !important;
    background-clip: padding-box;
    background-color: $infocar-menu-left-bg-color;
    background-image: none;
    border-top: 0;
    border-bottom: 2px dotted #92969f;
    border-left: 0;
    border-right: 0;
    border-radius: 0 !important;
    color: $infocar-menu-left-color;
    font-size: $infocar-button-font-size;
}

.HomeMenuLeftButtonCls {

    @extend .MenuLeftButtonCls;

    border-top: 2px dotted #92969f !important;
}

.MenuLeftButtonCls .x-button-label {
    @include infocar-align(left);
    font-weight: normal !important;
    border-radius: 0 !important;
}

/*
.x-badge, .x-button-icon, .x-shown, .home, .x-button-label,
.x-button-normal, .x-button, .x-iconalign-left,
.x-unsized.x-button-normal.x-button.x-iconalign-left.infocar-menu-left-button {
    border-top: 1px dotted #92969f;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-radius: 0 !important;
}
*/







.evidenzaBtnClusterDettVeicoloNuovo {
  background-image: none !important;
  background-color: red !important;
}


/* Equipaggiamenti Dettaglio Veicolo Nuovo */

table.testoLegendaEquipDettVeicoloNuovoTableStyle td {
  padding: 4px !important;
  height: 20px !important;
}

.statoLiberoEquipDettVeicoloNuovoDataItemButtonCls {
  background-image: url(../images/stato_libero.jpg);
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center center;
  width: 35px;
  height: 35px;
}

.statoSelezEquipDettVeicoloNuovoDataItemButtonCls {
  background-image: url(../images/stato_selez.png);
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center center;
  width: 35px;
  height: 35px;
}

.statoInclusoEquipDettVeicoloNuovoDataItemButtonCls {
  background-image: url(../images/stato_incluso.jpg);
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center center;
  width: 35px;
  height: 35px;
}

.statoNonDispEquipDettVeicoloNuovoDataItemButtonCls {
  background-image: url(../images/stato_non_disp.jpg);
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center center;
  width: 35px;
  height: 35px;
}

.statoUndefinedEquipDettVeicoloNuovoDataItemButtonCls {
  background-image: none;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center center;
  width: 35px;
  height: 35px;
}

.infoEquipDettVeicoloNuovoDataItemButtonCls {
  background-image: url(../images/info.png);
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center center;
  width: 35px;
  height: 35px;
}


.photoFullscreenImgCls img {
  max-height: 100% !important;
  max-width: 100% !important;
}


/* Marche ricerca usato */
table.marcaRicUsatoRisultatoDataViewTableCls {
  width: 100% !important;
}

td.logoMarcaRicUsatoRisultatoDataViewTdCls {
  width: 5% !important;
  height: 50px !important;
  padding: 0px 5px 0px 5px !important;
  text-align: center !important;
}

td.descrizioneMarcaRicUsatoRisultatoDataViewTdCls {
  width: 90% !important;
  height: 50px !important;
  text-align: left !important;
}

td.frecciaMarcaRicUsatoRisultatoDataViewTdCls {
  width: 5% !important;
  height: 50px !important;
  padding: 0px 5px 0px 5px !important;
  text-align: center !important;
}


/* Modelli ricerca usato */
table.modelloRicUsatoRisultatoDataViewTableCls {
  width: 100% !important;
}

td.descrizioneModelloRicUsatoRisultatoDataViewTdCls {
  width: 90% !important;
  height: 50px !important;
  text-align: left !important;
}

td.frecciaModelloRicUsatoRisultatoDataViewTdCls {
  width: 5% !important;
  height: 50px !important;
  padding: 0px 5px 0px 5px !important;
  text-align: center !important;
}


/* Allestimenti ricerca usato */
table.allestimentoRicUsatoRisultatoDataViewTableCls {
  width: 100% !important;
}

td.descrizioneAllestimentoRicUsatoRisultatoDataViewTdCls {
  width: 90% !important;
  height: 50px !important;
  text-align: left !important;
}

td.frecciaAllestimentoRicUsatoRisultatoDataViewTdCls {
  width: 5% !important;
  height: 50px !important;
  padding: 0px 5px 0px 5px !important;
  text-align: center !important;
}


/* Marche ricerca nuovo preventivo */
table.marcaRicNuovoRisultatoDataViewTableCls {
  width: 100% !important;
}

td.logoMarcaRicNuovoRisultatoDataViewTdCls {
  width: 5% !important;
  height: 50px !important;
  padding: 0px 5px 0px 5px !important;
  text-align: center !important;
}

td.descrizioneMarcaRicNuovoRisultatoDataViewTdCls {
  width: 90% !important;
  height: 50px !important;
  text-align: left !important;
}

td.frecciaMarcaRicNuovoRisultatoDataViewTdCls {
  width: 5% !important;
  height: 50px !important;
  padding: 0px 5px 0px 5px !important;
  text-align: center !important;
}


/* Modelli ricerca nuovo preventivo */
table.modelloRicNuovoRisultatoDataViewTableCls {
  width: 100% !important;
}

td.descrizioneModelloRicNuovoRisultatoDataViewTdCls {
  width: 90% !important;
  height: 50px !important;
  text-align: left !important;
}

td.frecciaModelloRicNuovoRisultatoDataViewTdCls {
  width: 5% !important;
  height: 50px !important;
  padding: 0px 5px 0px 5px !important;
  text-align: center !important;
}


/* Allestimenti ricerca nuovo preventivo */
table.allestimentoRicNuovoRisultatoDataViewTableCls {
  width: 100% !important;
}

td.descrizioneAllestimentoRicNuovoRisultatoDataViewTdCls {
  width: 90% !important;
  height: 50px !important;
  text-align: left !important;
}

td.frecciaAllestimentoRicNuovoRisultatoDataViewTdCls {
  width: 5% !important;
  height: 50px !important;
  padding: 0px 5px 0px 5px !important;
  text-align: center !important;
}


/* Veicoli ricerca stock */
table.veicoloRicStockRisultatoDataViewTableCls {
  width: 100% !important;
}

td.logoVeicoloRicStockRisultatoDataViewTdCls {
  width: 5% !important;
  height: 50px !important;
  padding: 0px 5px 0px 5px !important;
  text-align: center !important;
}

td.descrizioneVeicoloRicStockRisultatoDataViewTdCls {
  width: 90% !important;
  height: 50px !important;
  text-align: left !important;
}

td.frecciaVeicoloRicStockRisultatoDataViewTdCls {
  width: 5% !important;
  height: 50px !important;
  padding: 0px 5px 0px 5px !important;
  text-align: center !important;
}

div.descrizione1VeicoloRicStockRisultatoDataViewDivCls {
  font-weight: bold !important;
  font-size: 110% !important;
}

div.descrizione2VeicoloRicStockRisultatoDataViewDivCls {
}

div.descrizione3VeicoloRicStockRisultatoDataViewDivCls {
}

div.descrizione4VeicoloRicStockRisultatoDataViewDivCls {
  font-weight: bold !important;
}


/* Popup equipaggiamenti dettaglio veicolo usato */
table.equipDettVeicoloUsatoDataViewTableCls {
  width: 100% !important;
}

td.chkboxEquipDettVeicoloUsatoDataViewTdCls {
  width: 10% !important;
  height: 30px !important;
  background-image: url(../images/stato_libero.jpg) !important;
  background-size: 25px 25px !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  padding: 0px 5px 0px 5px !important;
  text-align: center !important;
}

td.descrizioneEquipDettVeicoloUsatoDataViewTdCls {
  width: 75% !important;
  height: 30px !important;
  text-align: left !important;
}

td.prezzoEquipDettVeicoloUsatoDataViewTdCls {
  width: 15% !important;
  height: 30px !important;
  padding: 0px 5px 0px 5px !important;
  text-align: center !important;
}

.selezioneEquipDettVeicoloUsatoDataViewSelectedCls {
  background-image: none !important;
  background-color: #cccccc !important;
}

.selezioneEquipDettVeicoloUsatoDataViewSelectedCls td.chkboxEquipDettVeicoloUsatoDataViewTdCls {
  background-image: url(../images/stato_selez.png) !important;
  background-size: 25px 25px !important;
  background-repeat: no-repeat  !important;
  background-position: center center !important;
}



/* Popup equipaggiamenti ricorsivi dettaglio veicolo nuovo */
table.equipPopupDettVeicoloNuovoDataViewTableCls {
  width: 100% !important;
}

td.chkboxPopupEquipDettVeicoloNuovoDataViewTdCls {
  width: 10% !important;
  height: 30px !important;
  background-image: url(../images/stato_libero.jpg) !important;
  background-size: 25px 25px !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  padding: 0px 5px 0px 5px !important;
  text-align: center !important;
}

td.descrizionePopupEquipDettVeicoloNuovoDataViewTdCls {
  width: 75% !important;
  height: 30px !important;
  text-align: left !important;
}

td.prezzoPopupEquipDettVeicoloNuovoDataViewTdCls {
  width: 15% !important;
  height: 30px !important;
  padding: 0px 5px 0px 5px !important;
  text-align: center !important;
}

.selezionePopupEquipDettVeicoloNuovoDataViewSelectedCls {
  background-image: none !important;
  background-color: #cccccc !important;
}

.selezionePopupEquipDettVeicoloNuovoDataViewSelectedCls td.chkboxPopupEquipDettVeicoloNuovoDataViewTdCls {
  background-image: url(../images/stato_selez.png) !important;
  background-size: 25px 25px !important;
  background-repeat: no-repeat  !important;
  background-position: center center !important;
}

.prezziInfoVeicoloStockOverlayContainerCls {
  /* right: -92% */
}